.product-modal-overlay {
  position: fixed;

  left: 0;

  top: 0;

  right: 0;

  bottom: 0;

  background: rgba(0, 0, 0, 0.5);

  display: flex;

  justify-content: center;

  align-items: center;

  z-index: 9999;
}

.product-modal {
  width: 1200px;
  max-height: 90vh;

  overflow-y: auto;

  background: #fff;

  border-radius: 18px;

  box-shadow: 0 25px 80px rgba(0, 0, 0, 0.18);

  position: relative;
}

.product-modal-header {
  position: sticky;

  top: 0;

  z-index: 20;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 22px 28px;

  background: white;

  border-bottom: 1px solid #ececec;
}

.product-modal-body {
  padding: 25px;
}
.modal-close-btn {
  width: 42px;

  height: 42px;

  border: none;

  border-radius: 50%;

  background: #f3f4f6;

  cursor: pointer;

  display: flex;

  align-items: center;

  justify-content: center;

  transition: 0.25s;
}
.modal-close-btn i {
  font-size: 20px;

  color: #374151;
}
.modal-close-btn:hover {
  background: #ef4444;

  transform: rotate(90deg);
}
.modal-close-btn:hover i {
  color: white;
}
.modal-close-btn:active {
  transform: scale(0.92);
}
